<h2 class="title"><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: :label %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, class: :label %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %>
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: :label %>
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    </div>
  </div>

  <div class="mt-3">
    <%= f.submit t('.sign_up'), class: "button" %>
  </div>
<% end %>

<div class="mt-3">
  <%= render "devise/shared/links" %>
</div>