<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Курсы
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="<%= root_path %>">
            Мои
          </a>
          <a class="navbar-item" href="<%= courses_path %>">
            Все
          </a>
          <a class="navbar-item" href="<%= teacher_courses_path %>">
            Преподаваемые
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to destroy_user_session_path,
                      class: "button is-light",
                      data: {
                        "turbo-method": "delete",
                      } do %>
            <strong><%= t("devise.sessions.new.sign_out") %></strong>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
