<%= render "teacher/partials/course_tabs" %>

<div class="columns is-multiline">
  <div class="column is-3">
    <% if @course.preview_image.attached? %>
      <%= image_tag @course.preview_image %>
    <% end %>
  </div>
  
  <div class="column is-9">
    <h1 class="title"><%= @course.title %></h1>

    <%= @course.description %>
  </div>
</div>

<div class="mt-3">
  <%= link_to t("resources.teacher.courses.to_index"), teacher_courses_path,
                                                       class: "button" %>
  <%= link_to t("resources.teacher.courses.edit"), edit_teacher_course_path(@course),
                                                   class: "button is-warning" %>
</div>
