
<%= form_with(model: [:admin, @user]) do |f| %>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title"><%= t("resources.users.edit") %></p>
    </header>
    <div class="card-content">
      <div class="columns is-multiline">
        <div class="column is-6">
          <%= f.text_field :email %>
        </div>
        <div class="column is-6">
          <%= f.select :role, User::AVAILABLE_MANAGING_ROLES.map { |v| [t("resources.users.roles.#{v}"), v] }, include_blank: true %>
        </div>
        <div class="column is-12">
          <%= f.submit class: "button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="mt-3">
  <%= link_to t("resources.users.to_list"), admin_users_path, class: "button" %>
  <%= link_to t("resources.users.destroy"), 
              admin_user_path(@user), 
              class: "button is-danger",
              data: { 
                "turbo-method": :delete, 
                "turbo-confirm": t("resources.users.confirm_destroy") 
              } %>
</div>