<h1 class="title"><%= t("resources.users.list") %></h1>

<div class="table-container">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th><%= t("activerecord.attributes.user.email") %></th>
        <th><%= t("activerecord.attributes.user.role") %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.email, edit_admin_user_path(user) %></td>
          <td><%= t("resources.users.roles.#{user.role}") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>